node_modules/
playwright/.cache/
reports/allure-report/
reports/allure-results/
reports/html/
tests/.features-gen/
test-results/
.env.local


playwright-report
allure-results
allure-report

.env
.env.*

dist

*.log
